/*------------------------------------------------------------------------
    画像グリッド
------------------------------------------------------------------------*/
@use "../../global" as g;

.el_imgGrid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 10px;

    &_item {
        text-align: center;
    }

    figcaption {
        margin-top: 5px;
        font-size: 1.2rem;
        text-align: center;
    }
}