/**************************************************************************
    リンク
**************************************************************************/
@use '../../global' as g;

.el_link {
    display: inline-flex;
    color: g.color('link');
    text-decoration: underline;

    &::before {
        content: '>>';
    }
}
