/**************************************************************************
    リスト
**************************************************************************/
@use '../../global' as g;

.el_list {
    &.is_gap {
        > li {
            &:not(:first-of-type) {
                margin-top: 1em;
            }
        }
    }

    > li {
        &::before {
            content: '・';
        }

        .el_list {
            padding-left: 1em;
        }
    }
}