/*------------------------------------------------------------------------
    テーブル
------------------------------------------------------------------------*/
@use "../../global" as g;

.el_table {
    width: 100%;
    min-width: 750px;
    border: 1px solid g.color('border');
    border-collapse: collapse;

    &_wrap {
        overflow-x: auto;

        // スクロールヒント
        .scroll-hint-icon {
            top: 100px;
        }
    }

    th, td {
        padding: 10px 20px;
        border: 1px solid g.color('border');
    }
    
    th {
        color: #fff;
        background-color: g.color('key');
    }
    
    audio {
        display: block;
        margin-top: 10px;
    }
}